
<!DOCTYPE html>
<html lang="en">
<head>
<title>Booking</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>


</style>
</head>
<body>

<div class="grid-container">


 <div class="column">
	 
	  
    <table id="t1">
          <tr>
        
          <td><img class ="img-circle" src="./assets/images/img/double.jpg" width=400px>  </td>
            <td><h2 style="padding-left:20px">BASIC ROOM</h2><p>A basic room is for two people and may contain a double bed or two singles.
              Sometimes, when you book a single room, the hotel may put you in a double room for the same price as the single. 
              The price for a double room is usually per room, ie whether it's occupied by one or two persons.<br>The basic room has the following offers:
            ,Wi-fi , DSTV, Room Service, Air-Conditioning,2 bathroom or 1 shower,Wheelchair friendly unit available on requests,Sleeps 2(adults or children),
             and self catering is also available.</p></td>           
        </tr>
         
          
    </table> 
    
   <table id="t1">
          <tr>
          
          <td><img class ="img-circle" src="./assets/images/img/studio.jpg" width=400px> </td>
            <td><h2 style="padding-left:20px">STUDIO ROOM</h2><p>Studio rooms are double en-suite rooms with a tv, kitchenette including microwave, bar-fridge,
                 tea/coffee station, crockery, and cutlery.Our Studio Suites have stunning sea-views. They include an open-plan bedroom, lounge with a sleeper couch and a separate kitchenette. Bathrooms are equipped with a shower 
            and most rooms are sea-facing and have a private balcony.It includes: Air-Conditioning,DSTV,Wheelchair friendly unit available on request,
            Room Service,Wi-Fi,Sleeps 5 (2 children),2 bathroom and 2 showers,Self Catering is also available</p></td>
          </tr>
           <tr>
          
    </table> 
    
     <table id="t1">
          <tr>
         
          <td><img class ="img-circle" src="./assets/images/img/images-3.jpg" width=400px> </td>
            <td><h2 style="padding-left:20px">STANDARD ROOM</h2><p>Standard Rooms have one double bed or two double beds, plus en-suite bathroom.As we’ve 
                collected a range of furniture over the course of our history, each room is unique in its furnishings, from tables and dressing tables to headboards 
                and chairs. The standard room has the following offers which includes,Air-Conditioning,DSTV, Wheelchair friendly unit available on request,
            Room Service,Wi-Fi,Sleeps 4 (2 children),1 bathroom or 1 shower,Self Catering is also available</p></td>
          </tr>
          
    </table> 
    
    <table id="t1">
          <tr>
         
          <td><img class ="img-circle" src="./assets/images/img/tripleduluxe.jpg" width=400px> </td>
            <td> <h2 style="padding-left:20px">TRIPLE DULUXE ROOM</h2><p>Relax together with your family in one of our Deluxe Triple rooms.No need to share beds with
                 family members or your companions.With three single beds, the Studio Triple Deluxe makes it convenient for you to enjoy traveling as a trio. Extra bed is available for a 
            minimal fee. The triplets duluxe room has the following offers which includes,Air-Conditioning,DSTV,Wheelchair friendly unit available on request,
            Room Service,Wi-Fi,Sleeps 3 (3 children),2 bathroom and 1 shower,Self Catering is also available</p></td>
          </tr>
           <tr>
          
    </table> 
    
    <table id="t1">
          <tr>
          
          <td><img class ="img-circle" src="./assets/images/img/qaud.jpg" width=400px> </td>
            <td><h2 style="padding-left:20px">QUAD DULUXE ROOM</h2><p>Homey and charming, the One Bedroom Premier is your ideal abode in the city. Each room in this category features a separate living space and dining and kitchen area. 
            Perfect for small families or groups of four.The Quad duluxe room has the following offers which includes ,Air-Conditioning,DSTV,Wheelchair friendly unit available on request,
            Room Service,Wi-Fi,Sleeps 4 (4 children), bathroom and  2 showers,Self Catering is also available</p></td>
          </tr>
           <tr>
          
    </table>
   
</div>
  

</div>
</body>
</html>