<!DOCTYPE html>
<html lang="en">
<head>
<title>Booking</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

</style>
</head>
<body>

<div class="grid-container">


<div class="row">
  <div class="column side">
   
  </div>
  <div class="column middle">
    <h1 align="center">About Us</h1>

    <p>LaBooh  Hotel, embarked on a path less travelled by going ahead of its competition. 
      It is a world-class hotel in an area where others have simply positioned for an urban  market.
       LaBooh hotel has changed the way in which the business traveller, the leisure seeker and the adventurer can 
       experience the rustic surroundings by introducing a high value product at affordable cost.
      Labooh hotel was founded on a pioneering spirit that seeks to drive change and define tomorrow.<br><br> 
      This is the primary driving purpose and corporate value that not only defines the hotel’s reason for existence 
      is also the guiding star of everything we do. It is a company at the cutting edge of market innovation. Our 
      hospitality is always one step ahead, seeing opportunities where none are apparent, 
      doing what others have not done before in order to offer our guests affordable high quality</p>
  
      <h1 align="center">Vision</h1>
      <p>Premier Hotels & Resorts. Recognised as unique in the industry for fulfilling their promise “Where guests become friends“.</p>
      <h1 align="center">Mission</h1>
      <p>We are the preferred destination of choice offering professional, personalised, flexible 
        hospitality and service to the discerning business and leisure market.</p>
        <h1 align="center">Values</h1>
        <p>We are a professional, passionate, caring and empowering company that encourages innovation and engagement. 
          We are a learning organisation committed to the retention and development of our people as an essential part of 
          building strong, respectful and enduring guest relationships. Our staff are motivated, friendly and obsessive about 
          enhancing the guest experience through meeting and exceeding expectations for quality service.</p>
  </div>
  <div class="column side">
    
  </div>
</div>
  

</div>
</body>
</html>