<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

</style>
</head>
<body>

<div class="grid-container">


<div class="row">
  <div class="column side">
   
  </div>
  <div class="column middle">
    <h1 align="center">Thank you {{name}} for contacting Us</h1>

	
	<div class="img">

    <img src="./assets/images/games.jpg"  >

</div>

<div class="img">

    <img src="./assets/images/img/double.jpg" >


</div>

<div class="img">
  
    <img src="./assets/images/pool.jpg">
 

</div><br><br>
<h1 align="center">Please check your email for a response or we will send you an sms</h1>
  </div>
  
  <div class="column side">
    
  </div>
</div>
  

</div>
</body>
</html>