<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

</style>
</head>
<body>

<div class="grid-container">


<div class="row">
  <div class="column side">
   
  </div>
  <div class="column middle">
  
	<div class="img">

    <img src="./assets/images/massage.jpg"  >
    <div class="desc">We offer Massage Therapy</div>
</div>

<div class="img">

    <img src="./assets/images/studio.jpg" >
    <div class="desc">One of the hotels rooms</div>

</div>

<div class="img">
  
    <img src="./assets/images/view.jpg">
    <div class="desc">View for Fresh air </div>

</div>

<div class="img">

    <img src="./assets/images/img/double.jpg"  >
    <div class="desc">Studio room</div>
</div>

<div class="img">

    <img src="./assets/images/food1.jpg" >
    <div class="desc">We offer meals</div>

</div>

<div class="img">
  
    <img src="./assets/images/events2.jpg">
    <div class="desc">We cater for events</div>

</div>

<div class="img">

    <img src="./assets/images/desert.jpg"  >
    <div class="desc">Desert</div>
</div>

<div class="img">

    <img src="./assets/images/games3.jpg" >
    <div class="desc">We offer Indoor games</div>

</div>

<div class="img">
  
    <img src="./assets/images/view2.jpg">
    <div class="desc">This is one of the Hotels view</div>

</div>

  </div>
  
  <div class="column side">
    
  </div>
</div>
  

</div>
</body>
</html>